<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MathArt</title>

    <!-- CSS laden -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styleArt.css') }}">

    <!-- P5-Libraries laden -->
    <script src="{{ url_for('static', filename='js/libraries/p5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/libraries/p5.sound.min.js') }}"></script>
  </head>
  <body>
    <!-- JS-Dateien laden -->
    <script src="{{ url_for('static', filename='js/dataHashtags.js') }}"></script>
    <script src="{{ url_for('static', filename='js/predictShape.js') }}"></script>
    <script src="{{ url_for('static', filename='js/surfaceArea.js') }}"></script>
    <script src="{{ url_for('static', filename='js/circle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/triangletest.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rectangleTest.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sketch.js') }}"></script>
  </body>
</html>
