<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datensätze</title>

    <!-- CSS laden -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styleStart.css') }}">
</head>
<body>
    <!-- Kreise oben -->
    <div class="circles">
        <a href="{{ url_for('choose_profile') }}" class="circle">1</a> <!-- Verlinkung zu Flask-Routen -->
        <div class="circle big">2</div> <!-- Kleine Kreise sind nicht anklickbar -->
        <div class="circle grey">3</div>
        <div class="circle grey">4</div>
        <div class="circle grey">5</div>
    </div>
    
    <h1>Wähle den Datensatz</h1>
    
    <!-- Buttons -->
    <div class="buttons">
        <a href="{{ url_for('choose_algorithm') }}" class="button">Top Hashtags</a>
        <a href="{{ url_for('choose_algorithm') }}" class="button">Top Months</a>
        <a href="{{ url_for('choose_algorithm') }}" class="button">Top Weeks</a>
        <a href="{{ url_for('choose_algorithm') }}" class="button">PixelColor</a>
    </div>
</body>
</html>
